
  <div class="starter-template container">
    <h1>join twitter</h1>
    <p class="lead">JOIN, ITS FREE  AND WILL ALWAYS BE</p>
    <div class="col-md-8 col-md-offset-4">
            <a class=" btn btn-primary btn-lg" href="/signup">sign Up</a>
            <a class="btn btn-primary btn-lg" href="/login">login</a>
          </div>
        
        </div>
