<div  class="row move" >
    <div class="col-lg-6 col-lg-offset-3">
        <h1>login</h1>
      
        <% include ./partials/messages %>
    <form method="POST">
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" name="email" placeholder="email">
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>
    <button class="btn btn-primary btn-lg">submit</button>
    
    </form>
    
    
    </div>
    
    </div>